/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html, body {
     max-width: 100%;
     overflow-x: hidden;
     background-color: black;
     font-family: 'Kanit', sans-serif;
 }

body {
     overflow-x: initial;
}

.navigation {
     background-color: cornflowerblue;
}



/******************************************
/* LAYOUT
/*******************************************/
header {
     display: grid;
     grid-template-columns: 40% 1fr;
     background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);     
     padding-bottom: 10em;
     position: absolute;
     width: 100%;
     z-index: 999;
   }

header > nav {
     padding-top: 1em;
     visibility: hidden;
}

.logo {
     min-width: 90%;
}
   
.logo > img{
     position: absolute;
     width: 20vw;
     height: auto;
}
   
nav {
     text-align: right;
     white-space: nowrap;
}
   
nav ul {
     display: inline-block;
     margin: 0;
     padding: 0;
     list-style: none;
     font-size: 1em;
}
   
nav ul li {
     display: inline-block;
     margin: 0 0.5em;
}
   
nav ul li a {
     display: block;
     padding: 0.5em;
     color: #ffffff;
     text-decoration: none;
}
   
.about {
     margin: 0;
     padding: 0;
     height: 70vh;
     background-color: black;
     background-image: url(../images/buildinggrad.webp);
     background-size:cover;
     background-repeat: no-repeat;
     background-position: center;
     background-position-x: right -12em;
     width: 100%;
}




.gradient {
     background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1) 45%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0));;
     height: 80vh;
     margin: 0;
     padding-left: 2em;

}


.about p, h4{
     padding-top: 2em;
     color: white;
     margin: 0;
     width: 40%;
}

.about aside p{
     font-style: italic;
     font-size: x-large;
     margin-bottom: 0;
     padding-bottom: 0%;
}

.highlight {
     border-radius: 2em 6em 1em 5em;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 21, 0, 0.702),
    rgba(255, 20, 0, 0.7) 95%,
    rgba(255, 21, 0, 0.659)
  );
}

.about aside p span{
     z-index: 3;
}

.about h4 {
     font-weight:bolder;
     font-size: x-large;
     margin: .5em;
     padding-top: 0%;
     text-align: right;
     
}

.about * {
     overflow: hidden;
}

section p {
     font-size: clamp(.75rem, 1.4vw, 1rem);
   
}


.logos {
     background-color: white;
     height: 7em;
     margin: 0;
     padding: 0;
     background-image: url(../images/logobanner.webp);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}

.posters {
     margin: 0;
     padding: 0;
     height: 80vh;
     background-color: rgb(255, 255, 255);
     background-image: url(../images/POSTERS.webp);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
}

.poster-container > h2, 
.poster-container > p {
     margin: 0;
     padding: 0 4em;
     background-color: #ffffffb3;
     width: 100%;
}

.poster-container > h2 {
     background-image: url(../images/whois.webp);
     background-size:contain;
     background-repeat: no-repeat;
     background-position: center;
     padding-top: 1em;
     color: rgba(164, 18, 5, 0);
     font-weight: 900;
     font-size: 3em;

}

.poster-container > p {
     padding-bottom: 2em;
     font-size: 1.5em;
     font-weight: 600;
}

.poster-container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     height: 80vh; /* Set a height to make vertical centering work */
}
   

.testimony-contact{
     background-color: white;
     display: flex;
     align-items: center;
}

.testimony {
     width: 50%;
     color: #ffffff00;
     height: 50vh;
     background-image: url(../images/testimonial1.webp);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}

.contact-text {
     width: 50%;
     margin: 0 2em;
}

.contact-text > * {
     font-size: clamp(.75rem, 1.4vw, 1.5rem);
}

.contact-text > h3 {
     color: rgb(185, 34, 20);
     font-weight: 600;
     font-size: 2em;
     margin: 0;
}

.contact-text > p {
     margin: 3px;
}

.contact-form {
     background-color: white;
     padding: 1em;
     width: 100%;
     text-align: center;
}

.contact-form > input {
     width: 50%;
     border: 2px solid rgb(198, 14, 14);
     border-radius: 6px;
     box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.550), inset 3px 3px 3px rgba(0, 0, 0, 0.550);
     margin-top: 1em;
}
.contact-form > input:first-child{
     margin-top: 0;
}

.contact-form > input:nth-child(5){
     padding-bottom: 8em;
}

.contact-form > input:focus  {
     outline-width: 2px;
     outline-style: solid;
     outline-color: red;
}

.button {
     background-color: red;
     color: white;
     padding: .5em 0;
     width: 20% !important;
     border: 2px solid rgb(198, 14, 14);
     border-radius: 6px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




header > h1 {
     display: none;
}


.hero {
     background-color: black;
     height: 100vh;
     background-image: url(../images/hero_actor.webp);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;

     display: flex;
     flex-direction: column;
     justify-content: flex-end;

     opacity: 1;

     transition: opacity 0.5s ease;
   }

                         @media only screen and (max-device-width: 600px) {

                              .hero{
                                   height: 40vh;
                              }

                              .hero-nav > ul {
                                   display: none;
                              }
                         }
   
   .hero-nav {
     background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);     
     padding-top: 10em;
     padding-right: 1.5em;
   }
   
   .hero-nav ul {
     font-size: 2.8vw;
     list-style: none;
   }


   .hero-nav a {
     color: #ffffff;
     text-decoration: none;
     transition: 0.5s
   }
   
   .hero-nav .actors:hover,
   .hero-nav .production:hover,
   .hero-nav .photos:hover,
   .hero-nav .branding:hover,
   .hero-nav .weddings:hover{
     transition: 0.1s;
     transform: scale(1.6) translateY(-1em);
   }



/******************************************
/* FOOTER
/*******************************************/

footer {
     height: 25vh;
     width: 100%;
     display: flex;
     padding-top: 3em;
}

.social-footer-left {
     width: 30%;
}

.social-footer-left > nav {
     text-align: center;
     padding-left: 1em;
     font-size: clamp(.75rem, 2vw, 1.5rem);
}

.social-footer-left > figure {
     margin: 0 0 0 1.5em;
     background-image: url(../images/logo.webp);
     background-size:contain;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
     height: 80px;
}

.mailing {
     width: 50%;
     color: white;
     align-items: center;
     justify-content: center;
     padding-top: 1em;
     padding-left: 5em;
}

.mailing input[type=text]{
     width: 50%;
}


.footnav {
     color: white;
     width: 20%;
     height: 20vh;
}

.footnav > ul {
     display: flex;
     flex-direction: column;
     text-align: left;
}

.footnav li {
     padding: 1px 0;
}

.footnav li:first-child {
     color: red;
}
