/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html, body {
     max-width: 100%;
     overflow-x: hidden;
     background-color: black;
     font-family: 'Kanit', sans-serif;
 }



.navigation {
     background-color: cornflowerblue;
}



/******************************************
/* LAYOUT
/*******************************************/
header {
     display: grid;
     grid-template-columns: 40% 1fr;
     background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);     
     padding-bottom: 10em;
     position: absolute;
     width: 100%;
     z-index: 999;
   }

header > nav {
     padding-top: 1em;
}
   .logo {
     min-width: 90%;
   }
   .logo > img{
     position: absolute;
     width: 20vw;
     height: auto;
   }
   
   nav {
     text-align: right;
     white-space: nowrap;
   }
   
   nav ul {
     display: inline-block;
     margin: 0;
     padding: 0;
     list-style: none;
     font-size: 1em;
   }
   
   nav ul li {
     display: inline-block;
     margin: 0 0.5em;
   }
   
   nav ul li a {
     display: block;
     padding: 0.5em;
     color: #ffffff;
     text-decoration: none;
   }
   
.about {
     margin: 0;
     padding: 0;
     height: 70vh;
     background-color: black;
     background-image: url(../images/buildinggrad.webp);
     background-size: auto;
     background-repeat: no-repeat;
     background-position: center;
     background-position-x: right -15em;
     width: 100%;
}

@media (max-width: 900px) {
     .about {
       background-position-x: right -25em;
     }
   }



.gradient {
     background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1) 45%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0));;
     height: 80vh;
     margin: 0;
     padding-left: 2em;

}


.about p, h4{
     padding-top: 2em;
     color: white;
     margin: 0;
     width: 40%;
}

.about aside p{
     font-style: italic;
     font-size: x-large;
     margin-bottom: 0;
     padding-bottom: 0%;
}

.highlight {
     border-radius: 2em 6em 1em 5em;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 21, 0, 0.702),
    rgba(255, 20, 0, 0.7) 95%,
    rgba(255, 21, 0, 0.659)
  );
}

.about aside p span{
     z-index: 3;
}

.about h4 {
     font-weight:bolder;
     font-size: x-large;
     margin: .5em;
     padding-top: 0%;
     text-align: right;
     
}

.about * {
     overflow: hidden;
}

section p {
     font-size: clamp(.75rem, 1.4vw, 1.2rem);
   
}


.logos {
     background-color: white;
     height: 7em;
     margin: 0;
     padding: 0;
     background-image: url(../images/logobanner.webp);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}

.posters {
     margin: 0;
     padding: 0;
     height: 80vh;
     background-color: rgb(255, 255, 255);
     background-image: url(../images/POSTERS.webp);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
}

.poster-container > h2, 
.poster-container > p {
     margin: 0;
     padding: 0 4em;
     background-color: #ffffffb3;
     width: 100%;
}

.poster-container > h2 {
     background-image: url(../images/whois.webp);
     background-size:contain;
     background-repeat: no-repeat;
     background-position: center;
     padding-top: 1em;
     color: rgba(164, 18, 5, 0);
     font-weight: 900;
     font-size: 3em;

}

.poster-container > p {
     padding-bottom: 2em;
     font-size: 1.5em;
     font-weight: 900;
}

.poster-container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     height: 80vh; /* Set a height to make vertical centering work */
}
   

.testimony-contact{
     background-color: white;
     display: flex;
     align-items: center;
}

.testimony {
     width: 50%;
     color: #ffffff00;
     height: 100%;
     background-image: url(../images/testimonial1.webp);
}

.contact-text {
     width: 50%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/




header > h1 {
     display: none;
}


.hero {
     background-color: black;
     height: 100vh;
     background-image: url(../images/hero_actor.webp);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;

     display: flex;
     flex-direction: column;
     justify-content: flex-end;

     opacity: 1;

     transition: opacity 0.5s ease;
   }

                         @media only screen and (max-device-width: 600px) {

                              .hero{
                                   height: 40vh;
                              }

                              .hero-nav > ul {
                                   display: none;
                              }
                         }
   
   .hero-nav {
     background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);     
     padding-top: 10em;
   }
   
   .hero-nav ul {
     font-size: 2.8vw;
     list-style: none;
   }


   .hero-nav a {
     color: #ffffff;
     text-decoration: none;
     transition: 0.5s
   }
   
   .hero-nav .actors:hover,
   .hero-nav .production:hover,
   .hero-nav .photos:hover,
   .hero-nav .branding:hover,
   .hero-nav .weddings:hover{
     transition: 0.1s;
     transform: scale(1.6) translateY(-1em);
   }