/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html, body {
     max-width: 100%;
     overflow-x: hidden;
     background-color: rgb(0, 0, 0);
     font-family: 'Kanit', sans-serif;
 }

body {
     overflow-x: initial;
}

.navigation {
     background-color: cornflowerblue;
}



/******************************************
/* LAYOUT
/*******************************************/
header {
     display: grid;
     grid-template-columns: 40% 1fr;
     background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);     
     padding-bottom: 10em;
     position: absolute;
     width: 100%;
     z-index: 999;
   }

header > nav {
     padding-top: 1em;
     visibility: hidden;
}

.logo {
     min-width: 90%;
}
   
.logo > img{
     position: absolute;
     width: 20vw;
     height: auto;
}
   
nav {
     text-align: right;
     white-space: nowrap;
}
   
nav ul {
     display: inline-block;
     margin: 0;
     padding: 0;
     list-style: none;
     font-size: 1em;
}
   
nav ul li {
     display: inline-block;
     margin: 0 0.5em;
}
   
nav ul li a {
     display: block;
     padding: 0.5em;
     color: #ffffff;
     text-decoration: none;
}
   
.about {
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: auto 1fr;

     margin: 0;
     padding: 0;
     height: auto;
     background-color: black;
}




.gradient {
     display: grid;
     grid-column: 1/2;

     height: 80vh;
     margin: 0;
     padding-left: 2em;
}

.hero-img {
     display: grid;
     grid-column: 2/3;

     background-image: url(../images/headshot.webp);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
  
}


.about p, h4{
     padding-top: 2em;
     color: white;
     margin: 0;
     width: 70%;
     margin-left: 50px;

}

.about aside p{
     font-style: italic;
     font-size: x-large;
     margin-bottom: 0;
     padding-bottom: 0%;
}

.highlight {
     border-radius: 2em 6em 1em 5em;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 21, 0, 0.702),
    rgba(255, 20, 0, 0.7) 95%,
    rgba(255, 21, 0, 0.659)
  );
}



.about h4 {
     font-weight:bolder;
     font-size: x-large;
     margin: .5em;
     padding-top: 0%;
     text-align: right;
     
}



section p {
     font-size: clamp(.75rem, 1.4vw, 1rem);
   
}


.logo-row {
     display: flex;
     flex-direction: row;
     gap: 50px;
     background-color: rgb(0, 0, 0);
     height: 7em;
     width: 100%;
     padding-right: 80px;
}

.logo-row > * {
     margin: 0;
     padding: 0;
}

.fbwatch {
     width: 20%;
     background-image: url(../images/fbwatchgldgrad.webp);
     background-size:contain;
     background-repeat: no-repeat;
     background-position: center;
}
.history{
     width: 20%;
     background-image: url(../images/historyglddrag.webp);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     margin: 7px 12px;
}
.netflix{
     width: 20%;

     background-image: url(../images/netflixgldgrad.webp);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
.usanet{
     width: 20%;
     background-image: url(../images/usagldgrad.webp);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
.vh1 {
     width: 20%;
     background-image: url(../images/vh1gldgrad.webp);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}

.posters {
     margin: 0;
     padding: 0;
     height: 80vh;
     background-color: rgb(255, 255, 255);
     background-image: url(../images/POSTERS.webp);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
}

.poster-container > h2, 
.poster-container > p {
     margin: 0;
     padding: 0 4em;
     background-color: #000000b3;
     width: 100%;
     color: #ffffff;
}

.poster-container > h2 {
     background-image: url(../images/whois.webp);
     background-size:contain;
     background-repeat: no-repeat;
     background-position: center;
     padding-top: 1em;
     color: rgba(164, 18, 5, 0);
     font-weight: 900;
     font-size: 3em;

}

.poster-container > p {
     padding-bottom: 1.5em;
     font-size: 1.5em;
     font-weight: 400;
}

.poster-container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     height: 80vh; /* Set a height to make vertical centering work */
}
   

.testimony-contact{
     background-color: rgb(0, 0, 0);
     display: flex;
     align-items: center;
}

.testimony {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-items: center;

     margin: 3em 2em;
     padding-top: 3em;

     text-align: center;
     width: 70%;
     color: #ffffff;
     height: 50vh;

}

.testimony::after{
     content: "";
     background-color: #48484858;
     height: 40%;
     width: 30%;
     position: absolute;
}


hr {
     width: 25%;
}

.testimony > aside {
     width: 80%;
     z-index: 2;
     font-size: 1.7em;

}

.title {
     font-weight: 200;
     font-size: 1.5em;
}

.name {
     font-size: 3em;
     font-weight: 700;
}

.testimony > span {
     z-index: 2;
}

.testimony > i {
     font-size: 100px;
     z-index: 2;
}

.contact-text {
     width: 50%;
     margin: 0 2em;
     color: #ffffff;
}

.contact-text > * {
     font-size: clamp(.75rem, 1.4vw, 1.5rem);
}

.contact-text > h3 {
     color: rgb(185, 34, 20);
     font-weight: 600;
     font-size: 2em;
     margin: 0;
}

.contact-text > p {
     margin: 3px;
}

.contact-form {
     background-color: rgb(255, 255, 255);
     padding: 1em;
     width: 100%;
     text-align: center;
}

.contact-form > input {
     width: 50%;
     border: 2px solid rgb(198, 14, 14);
     border-radius: 6px;
     box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.550), inset 3px 3px 3px rgba(0, 0, 0, 0.550);
     margin-top: 1em;
}
.contact-form > input:first-child{
     margin-top: 0;
}

.contact-form > input:nth-child(5){
     padding-bottom: 8em;
}

.contact-form > input:focus  {
     outline-width: 2px;
     outline-style: solid;
     outline-color: red;
}

.button {
     background-color: red;
     color: white;
     padding: .5em 0;
     width: 20%;
     border: 2px solid rgb(198, 14, 14);
     border-radius: 4px;
}

.contact-us-button {
     padding: 5px;
     margin: 20px 25%;
     width: 50%;
     font-size: 1.5em;
     font-weight: 600;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




header > h1 {
     display: none;
}


.hero {
     background-color: black;
     height: 100vh;
     background-image: url(../images/hero_actor.webp);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;

     display: flex;
     flex-direction: column;
     justify-content: flex-end;

     opacity: 1;

     transition: opacity 0.5s ease;
   }

                         @media only screen and (max-device-width: 600px) {

                              .hero{
                                   height: 40vh;
                              }

                              .hero-nav > ul {
                                   display: none;
                              }
                         }
   
   .hero-nav {
     background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);     
     padding-top: 10em;
     padding-right: 1.5em;
   }
   
   .hero-nav ul {
     font-size: 2.8vw;
     list-style: none;
   }


   .hero-nav a {
     color: #ffffff;
     text-decoration: none;
     transition: 0.5s
   }
   
   .hero-nav .actors:hover,
   .hero-nav .production:hover,
   .hero-nav .photos:hover,
   .hero-nav .branding:hover,
   .hero-nav .weddings:hover{
     transition: 0.1s;
     transform: scale(1.6) translateY(-1em);
   }



/******************************************
/* FOOTER
/*******************************************/

.foot-break {
     width: 85%;
}
 
footer {
     height: 25vh;
     width: 100%;
     display: flex;
     padding-top: 3em;
}

.social-footer-left {
     width: 30%;
}

.social-footer-left > nav {
     text-align: center;
     padding-left: 1em;
     font-size: clamp(.75rem, 2vw, 1.5rem);
}

.social-footer-left > figure {
     margin: 0 0 0 10px;
     background-image: url(../images/logo.webp);
     background-size:contain;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
     height: 80px;
}

.mailing {
     width: 50%;
     color: white;
     align-items: center;
     justify-content: center;
     padding-top: 1em;
     padding-left: 5em;
}

.mailing input[type=text]{
     width: 50%;
}


.footnav {
     color: white;
     width: 20%;
     height: 20vh;
}

.footnav > ul {
     display: flex;
     flex-direction: column;
     text-align: left;
}

.footnav li {
     padding: 1px 0;
}

.footnav li:first-child {
     color: red;
}


/******************************************
/* CONTACT US PAGE
/*******************************************/

.contact-main {
     display: grid;
     grid-template-columns: 25% 25% 25% 25%;
     grid-template-rows: auto;
     margin-top: 40px;

}


.cont-text-cont-main {
     display: grid;
     grid-column: 2/4;
     width: 100%;
     

     text-align: center;
     margin: 0;
     padding: 0;
}

.cont-text-cont-main li {
     list-style-type: none;
     font-weight: 200;
     font-size: 1.3em;
     background-color: rgba(105, 105, 105, 0.256);
}

.cont-text-cont-main ul {
          padding-left: 0;

}


.contact-form {
     background-color: black;
     color: white;
     display: inline-grid;
     grid-column: 2/4;
     justify-items: center;

     text-align: left;

     margin-top: 60px;
}

.contact-form form {
     display: grid;
     width: 100%;
     justify-items: center;
}

.contact-form label,
.contact-form input,
.contact-form select {
     font-size: 1.5em;
     font-weight: 200;
     width: 100%;
     margin: 10px;
}

input:focus {
     border: 3px solid red;
   }

.contact-form > form > .button {
     justify-self: left;
     margin-left: 0px;
     width: 50%;
}

.detail {
     padding-bottom: 200px;
}

.contact-info {
     display: grid;
     grid-column: 1/2;
     grid-row: 2/3;

     width: auto;
     justify-items: center;
     height: 30%;


     position: sticky;
     top: 80px;

     margin: 0 50px;
     background-color: #b90b0b8b;
     color: white;
     font-size: 1em;
     font-weight: 300;
}

.contact-info i {
     font-size: 1.5em;
}

h6 {
     font-size: 1.5em;
     font-weight: 300;
     
     margin: 0;
     padding: 0;
}

.contact-info li {
     padding: 10px 0;
}

